/* Add CSS Styling */
.red {
    background-color: rgba(255, 0, 0, 0.3);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.bigger {
    font-size: 24px;
}

#blue {
    color: blue;
    font-size: 36px;
}

#green {
    background-color: rgba(0, 255, 0, 0.3);
    font-weight: bold;
}